
  <div class="container">
    <div class="child">
      <div>
        <h1 class="title-head"><span class="color-fundoo-F" style="color:#4285F4">F</span>
          <span class="color-fundoo" style="color:#ea4335">u</span>
          <span class="color-fundoo" style="color:#fbbc05">n</span>
          <span class="color-fundoo" style="color:#4285f4">d</span>
          <span class="color-fundoo" style="color:#34a853">o</span>
          <span class="color-fundoo" style="color:#ea4335">o</span></h1>
      </div>
    </div>
    <div class="child signin">
      <span>Account recovery</span>
    </div>
    
    
    <form [formGroup]="resetPassword" class="child resetPasswordForm" (ngSubmit)="resetPassword.valid && ResetPassword()">
     
      <div class="password form-item">
        <mat-form-field class="new-password" appearance="outline">
          <mat-label >New Password</mat-label>
          <input type="password" id="password" type="{{ isActive ? 'password' : 'text' }}" matInput placeholder="" name="password" formControlName="password">
         
          <mat-error *ngIf="resetPassword.hasError('required', 'password')">
            Please enter your new password
          </mat-error>
        </mat-form-field>
        <mat-hint class="pass-hint"  >Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
        <mat-form-field class="confirm-password" appearance="outline">
          <mat-label >Confirm</mat-label>
          <input type="{{ isActive ? 'password' : 'text' }}" matInput placeholder=""  formControlName="confirmPassword" [errorStateMatcher]="matcher" >

           <mat-error *ngIf="resetPassword.hasError('notSame')">
            Those passwords didn’t match. Try again.
          </mat-error>
          <mat-error *ngIf="resetPassword.hasError('required', 'confirmPassword') && !resetPassword.hasError('notSame')">
            Please enter Confirm
          </mat-error>

        </mat-form-field>
       
      </div>
      <div class="Show-password">
        <section class="example-section">
          <mat-checkbox color="primary" (change)="TogglePassword()"  >Show password</mat-checkbox>
        </section>
    
      </div>
    
      <div class="btns">
        <div >
          
        </div>
        <div class="submit-btn">
          <button type="submit" mat-raised-button >Submit</button>
        </div>
      </div>
    </form>
  </div>