
  <div class="container">
    <div class="child">
      <div>
        <h1 class="title-head"><span class="color-fundoo-F" style="color:#4285F4">F</span>
          <span class="color-fundoo" style="color:#ea4335">u</span>
          <span class="color-fundoo" style="color:#fbbc05">n</span>
          <span class="color-fundoo" style="color:#4285f4">d</span>
          <span class="color-fundoo" style="color:#34a853">o</span>
          <span class="color-fundoo" style="color:#ea4335">o</span></h1>
      </div>
    </div>
    <div class="child signin">
      <span>Sign in</span>
    </div>
    <div class="child use">
      <span>Use your Fundoo Account</span>
    </div>
    
    <form [formGroup]="loginForm" class="child loginForm" (ngSubmit)="loginForm.valid && login()">
     
          <div class="email" id="loginEmail">
            <mat-form-field class="user" appearance="outline">
              <mat-label >Email</mat-label>
              <input matInput placeholder="" formControlName="email">
              <span class="input-suffix" matSuffix >@gmail.com</span>
              <mat-error *ngIf="loginForm.hasError('required', 'email')">
                Enter an Email
              </mat-error>             
            </mat-form-field>
            <div class="btns">              
              <div class="forget">
                <a [routerLink]="['/ForgetPassword']" > Forgot password?</a>
              </div>
            </div>
          </div>
          <div class="password">
            <mat-form-field class="pass" appearance="outline">
              <mat-label >Password</mat-label>
              <input type="password" id="password" type="{{ isActive ? 'password' : 'text' }}" matInput placeholder="" formControlName="password">
              <mat-error *ngIf="loginForm.hasError('required', 'password')">
                Please enter your password
              </mat-error>
             
            </mat-form-field>          
          </div>
          <div class="Show-password">
            <section class="example-section">
              <mat-checkbox color="primary" (change)="TogglePassword()"  >Show password</mat-checkbox>
            </section>
        
          </div>
     
          <div class="btns">
            <div class="create">
              <a [routerLink]="['/signup']" >
              Create account
              </a>
            </div>
            
            <div class="submit-btn">
              <button type="submit" mat-raised-button >Login</button>
            </div>
         </div>
    </form>
  </div>