@import '../../../../styles.scss';
.form-field {
    width: 100%;
    padding-right: 1%;
}

.pass-field {
    width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  border-radius: 7px;

  width: 400px;
  padding: 40px;
  margin: auto;
  margin-top: 85px;
  height: auto;
    min-height: 450px;
    align-content: center;
}

.login {
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card {
    width: 500px;
    padding:  40px  ;border-radius: 7px;
    border: 1px solid #DADCE0;
}




.heading {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

.fundoo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.color-fundoo{
  font-weight: 550;
  font-size: 15pt;
  font-family: sans-serif;
}
.color-fundoo-F{
  font-weight: 500;
  font-size: 20pt;
}
.child{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; hyphens: auto;
}
.signin{
  color: #202124;
  padding-top: 16px;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size: 24px;
    font-weight: 400;
    line-height: 1.3333; 
}
.button{
  background-color: #1a73e8;
    color: white;margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mat-focus-indicator[_ngcontent-jwo-c91], .mat-raised-button[_ngcontent-jwo-c91] .mat-button-base[_ngcontent-jwo-c91] {
  background-color: #1a73e8;
  color: white;
}
.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn{
  display: flex;
    justify-content: flex-end;
}

.btFaIb {
  letter-spacing: .00625em;
  font-family: Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #5f6368;
  padding-bottom: 24px;
}
