
<div fxLayout="row wrap" fxLayoutAlign=" center" class="main">
  <div fxLayout="row" fxLayoutGap="10" fxFlex="25%" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="33">
      <mat-card class="card">
          <form>
              
                <span class="color-fundoo-F" style="color:#4285F4">F</span>
                <span class="color-fundoo" style="color:#ea4335">u</span>
                <span class="color-fundoo" style="color:#fbbc05">n</span>
                <span class="color-fundoo" style="color:#4285f4">d</span>
                <span class="color-fundoo" style="color:#34a853">o</span>
                <span class="color-fundoo" style="color:#ea4335">o</span>
              
              <div class="child signin">
                <span>Change password</span>
              </div>
              <div class="btFaIb">Choose a strong password and don't reuse it for other accounts. <div class="aJvDTb lY6Rwe">Changing your password will sign you out on your devices, with some exceptions</div><div class="aJvDTb vkd34b lY6Rwe"><span class="K4en6">Lost or stolen device?</span> You can always sign out remotely at Your devices</div></div>
              <div>
                  <mat-form-field class="pass-field" appearance="outline">
                      <mat-label>New Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="Password" autocomplete="off" required>
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                      <mat-error *ngIf="Password.invalid">{{getPasswordErrorMsg()}} </mat-error>
                  </mat-form-field>
              </div>
              <div>
                  <mat-form-field class="pass-field" appearance="outline">
                      <mat-label>Confirm Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" required>
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                  </mat-form-field>
              </div>

              <div class="submit-btn">
                <button type="submit" mat-raised-button class="button" (click)="onSubmit()" >Submit</button>
              </div>
              
             
          </form>
      </mat-card>
  </div>
</div>